<%- include("header") -%>

<h2>this is about</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam impedit pariatur illum ut ducimus dignissimos consequuntur ad aliquam! Voluptas ipsa natus rerum? Dicta accusantium, molestiae odio iusto nihil velit, quod maiores culpa in magnam incidunt odit mollitia doloremque! Dolorum ea, dolorem illum ad perferendis sunt. Amet ex iusto ab quas?</p>

<%- include("footer") -%>